@import url('https://fonts.googleapis.com/css2? family= Roboto & display=swap');

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu{
    background-color: #731728;
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    margin: 0 0 0 0;
}

.menu_titulo{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    position: relative; left: 80px;
    color: #fff;
}

.menu_botoes{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    position: relative; right: 70px;
}

.menu_botoes ul{
    list-style: none;
    display: flex;
}

a{
    text-decoration: none;
    margin: 60px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

.menu_botoes li :hover{
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.7);
}
    

h1{
    font-weight: 600;
}

h2{
    position: relative; left: 20px; top: 5px;
    font-size: 100px;
    font-weight: 400;
    color:#fff    
}


.secao2{
    width: 100%;
    height: 710px;
    margin-bottom: 10px;
    padding: 20px;
    box-sizing: border-box;
    background-image:url(../images/torre\ eiffel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.secao3{
    width: 100%;
    height: 710px;
    border: 2px solid;
    margin-bottom: 10px;
    padding: 20px;
    box-sizing: border-box;
    background-image:url(../images/torre\ eiffel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h3{
    size: 30px;
    position: relative; left: 20px; top: 5px;
    font-weight: 300;
    font-size: 40px;
    color: #fff;

}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.box{
    width: 300px;
    height: 325px;
    border: 1px solid rgba(0, 0, 0, 0.151);
    margin: 50px;
}

.box_img1{
    width: 300px;
    height: 225px;
    background-image: url(../images/Jardin\ du\ Luxembourg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.box_img2{
    width: 300px;
    height: 225px;
    background-image: url(../images/Place\ du\ Panthéon\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.box_img3{
    width: 300px;
    height: 225px;
    background-image: url(../images/Café\ de\ I\'Homme\ 3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.box_img4{
    width: 300px;
    height: 225px;
    background-image: url(../images/Pont\ Alexandre\ III.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box_img5{
    width: 300px;
    height: 225px;
    background-image: url(../images/Musee\ des\ arts\ forains\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.box_img6{
    width: 300px;
    height: 225px;
    background-image: url(../images/Musee\ des\ arts\ forains\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box_txt{
    width: 300px;
    height: 100px;
    font-size: 15px;
    padding-left: 9px;
    box-sizing: border-box;
}

h4{
    font-size: 18px;
    line-height: 1px;
}

.galeria{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #5D878C;
}

.galeria_1, .galeria_2, .galeria_3, .galeria_4 {
    width: 300px;
    height: 225px;
    background-image: url(../images/teste.png);
    margin: 0 30px 0 30px;
    
}

.galeria_1{
    background-image: url(../images/Jardin\ du\ Luxembourg\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.galeria_2{
    background-image: url(../images/Place\ du\ Panthéon\ 3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.galeria_3{
    background-image: url(../images/Café\ de\ I\'Homme\ 4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.galeria_4{
    background-image: url(../images/Pont\ Alexandre\ III\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

